*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.py-10{
    padding: 10px 0;
}
.mb-20{
    margin-bottom: 20px;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    padding: 120px 40px;
}

/* button and animation */
button{
    padding: 10px 15px;
    border: 0 solid;
    border-radius: 50px;
}

button:hover{
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}
.butt-white:hover{
    color: rgb(66, 66, 255);
}
.butt-black:hover{
    background-color: #3a4146;
}

/* setup text */
h1{
    font-size: 52px;
}
p{
    line-height: 25px;
    font-size: 19px;
}


/* HEADER */
header{
    background-color: #255ee9;
    line-height: 35px;
}

.container-header{
    width: 80%;
    margin: auto;
    align-items: center;
}

/* NAVIGATION LIST */
header ul{
    padding: 5px;
}

header li{
    display: inline-block;
}

header li a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 17px;
    font-weight: 600;
}
header li a:hover{
    text-decoration: underline;
    color: white;
}

/* FLOAT SECTION HEADER */
.brand,
.navigation,
.enter-account{
    float: left;
}

.brand{
    width: 20%;
    padding: 5px;
}

.navigation{
    text-align: center;
    width: 60%;
}

.enter-account{
    width: 20%;
    text-align: right;
    padding: 5px;
}
.enter-account button{
    background-color: white;
    color: black;
    font-weight: bold;
}


/* MAIN */

/* MAIN HEADER INTRO */
.main-header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    color: white;
}

.text-intro{
    width: 60%;
    margin: auto;
    text-align: center;
}

/* button main header intro */
.text-intro > button:first-of-type{
    margin-right: 10px;
}
.text-intro > button{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.downl-arrow{
    margin-right: 5px;
}

.butt-black{
    background-color: #23272a;
    color: white;
}