*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.py-10{
    padding: 10px 0;
}
.mb-20{
    margin-bottom: 20px;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    padding: 120px 40px;
}

/* button and animation */
.large-butt{
    padding: 10px 15px;
    border: 0 solid;
    border-radius: 50px;
}

.large-butt:hover{
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.butt-white:hover{
    color: rgb(66, 66, 255);
}
.butt-black:hover{
    background-color: #3a4146;
}

/* setup text */
h1{
    font-size: 52px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 37px;
}
p{
    line-height: 25px;
    font-size: 19px;
}


/* INIZIO HEADER */
header{
    background-color: #255ee9;
    line-height: 35px;
}

.container-header{
    width: 80%;
    margin: auto;
    align-items: center;
}

/* NAVIGATION LIST */
header ul{
    padding: 5px;
}

header li{
    display: inline-block;
}

header li a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 17px;
    font-weight: 600;
}
header li a:hover{
    text-decoration: underline;
    color: white;
}

/* FLOAT SECTION HEADER */
.brand,
.navigation,
.enter-account{
    float: left;
}

.brand{
    width: 20%;
    padding: 5px;
}

.navigation{
    text-align: center;
    width: 60%;
}

.enter-account{
    width: 20%;
    text-align: right;
    padding: 5px;
}
.enter-account button{
    background-color: white;
    color: black;
    font-weight: bold;
}
/* FINE HEADER */

/* INIZIO MAIN */

/* MAIN HEADER INTRO */
.main-header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    color: white;
}

.text-intro{
    width: 60%;
    margin: auto;
    text-align: center;
}

/* button main header intro */
.text-intro > button:first-of-type{
    margin-right: 10px;
}
.text-intro > button{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.downl-arrow{
    margin-right: 5px;
}

.butt-black{
    background-color: #23272a;
    color: white;
}

/* SECTION SETUP */
.info-web-section .container div{
    float: left;
}

.image-info{
    width: 65%;
}
.image-info img{
    max-width: 80%;
}

.text-info{
    width: 35%;
}

/* SECTION TWO */
.back-blurry{
    background-color: rgba(0, 0, 0, 0.05);
}

.section-two-info div img{
    margin-left: 30px;
}

/* SECTION DOWNLOAD */
.section-download{
    text-align: center;
}

.download-app-desktop{
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
.download-app-desktop h3{
    padding: 20px;
}

.butt-lightblue{
    background-color: rgb(34, 34, 230);
    color: white;
    padding: 15px 20px;
}
.butt-lightblue:hover{
    background-color: rgb(84, 84, 250);
    color: white;
}
/* FINE MAIN */

/* INIZIO FOOTER */
footer{
    background-color: #23272a;
}

/* FLOAT SECTION */
.info-website{
    padding-bottom: 20px;
    border-bottom: 1px solid #748ce0;
}
.info-website .container-info-foot{
    float: left;
}
.language-share{
    width: 30%;
}

.foot-list{
    width: calc(70% / 4);
}

.foot-list{
    color: white;
    
}
.foot-list ul{
    list-style: none;
}

.foot-list ul li{
    margin: 5px;
}
.foot-list ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.foot-list ul li:first-of-type{
    color: #748ce0;
    cursor: unset;
    text-decoration: none;
}

/* language-share */
.language-share h3{
    color: #748ce0;
}
.language{
    color: white;
    background-color: unset;
    border: 0;
}
.language:hover{
    cursor: pointer;
}

.flag{
    width: 20px;
}

.share i{
    color: white;
    margin-left: 3px;
}
.share i:hover{
    cursor: pointer;
}

/* sign-in footer */
.sign-in{
    margin-top: 10px;
}

.sign-in button{
    float: right;
    font-weight: bold;
}